<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
       
       <bean class="com.training.si.Student" name="Student1">
       
              <property name="studentId" value="201"></property>
              <property name="studentName" value="hemant"></property>
              <property name="studentCourse" value="java fd"></property>

       
       
       </bean>

</beans>