<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="com.training.autowire.Address" name="address">
	     
	     <property name="street" value="xyz" />
	     <property name="city" value="mumbai"/>
	     
	 </bean>
	 
	 <bean class="com.training.autowire.Emp" name="emp" autowire="byName" />

</beans>